@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap");
:root {
  --tech-dark: #5f00b8;
  --tech-primary: #06aef0;
  --tech-light: #90E0EF;
  --tech-white: #FFFFFF;
  --tech-bg: #ececec; 
  --tech-black: #000;
}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
      font-family: "Tajawal", sans-serif; 
}
body{
    height: 100vh;
    overflow-x: hidden;
}

nav{
  padding: 0px 40px;
  background-color: var(--tech-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 999;  
      width: 100%;
}
nav ul li a.active {
  color: var(--tech-light);
  font-weight: bold;
}


.menu-btn{
  font-size: 30px;
  color: var(--tech-dark);
  cursor: pointer;
  display: none;
}
.menu-btn:hover{
    color: #8e24f1;
}


nav .logo{
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
   font-family: "Lalezar", sans-serif;
   gap: 10px;
}
nav .logo p{
  font-size: 20px;
}


nav .links{
  list-style: none;
  font-size: 20px;
  display: flex;
  padding: 10px;
}
nav .links a {
  color:var(--tech-dark);
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  padding: 20px;
}
nav .links a:hover{
  color: var(--tech-primary);
  
}
#toTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: var(--tech-dark);
    color: white;
    border: none;
    padding: 15px 18px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 9999;
}

#toTopBtn:hover {
    background: var(--tech-primary);
}
.phonesSec{
   padding: 50px 0;        
  direction: rtl;   
}
.phonesSec h2{
  color: var(--tech-dark);
  direction: rtl;
  font-size: 30px;
  margin-right: 100px;
  margin-bottom: 50px;
}
.phones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
}

.phone {
  background: var(--tech-white);
  text-align: center;
  margin: 20px 0;
  border-radius: 15px;
}


.phone img {
width: 60%;
height: 60%;
margin-bottom: 1rem;
  transition: 0.5s ; 

}
.phone img:hover{
 transform: scale(1.2);
}
.phone h3{
   font-size: 25px;
}
.phone h3:nth-child(3){

  padding: 25px 0;
}

.phonesSec a:hover{
     background: #8a1fee;
}
.phonesSec a{
    background-color: var(--tech-dark);
  padding: 15px 50px;
  text-decoration: none;
  color: var(--tech-white);
  border-radius: 10px;
  font-size: 20px;
}
footer{
  background-color: var(--tech-bg);    
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
footer p{
  font-size: 20px;
}
footer .icons a{
  font-size: 30px;
  color: var(--tech-primary);
text-decoration: none;
padding: 0 10px;
}
footer .icons a:hover{
   color: #35bdf3;
}
@media (max-width: 900px){
  nav{
    padding: 10px 20px;
  }

  .links{
    position: fixed;
    top: 50px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--tech-white);
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    text-align: center;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    transition: 0.4s; 
    background: var(--tech-bg);
  }

  .links li a{
    font-size: 22px;
    display: block;
    border: solid 2px var(--tech-dark);
    border-radius: 10px;
    width: 100%;
    background: var(--tech-white);
    padding: 10px;
  }

  .menu-btn{
    display: block;
  }

  .links.active{  
    right: 0;
  }

}
@media (max-width: 900px) {
    .phones {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 50px;
    }
     .phonesSec h2,
     .best h2{
      text-align: center;
      padding: 30px 0;
      margin:  0;
     }
    .phone img {
        width: 50%;
        height: auto;
    }

    .phone a {
        padding: 12px 50px;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .phones {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0 20px;
    }

    .phone img {
        width: 50%;
        height: auto;
    }

    .phone h3 {
        font-size: 20px;
    }

    .phone a {
        padding: 10px 40px;
        font-size: 16px;
    }
}