.section{
    padding-top: 90px;
    direction: rtl;
    width: 100%;
}
.section h2{
    color: var(--tech-dark);
    padding-right: 30px;
    padding-bottom: 70px;
}
.exit{
  border: none;
  background-color: var(--tech-bg);
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 40px;
  color: var(--tech-dark);
}
.continer{
display: flex;
justify-content: space-between;
align-items: center;

}
.continer .text{
    width: 500px;
    font-size: 23px;
    padding-right: 50px;
}
.continer .img{
    transition: 0.5 ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    transition: 0.5s ; 
    width: 30%;
}
.img img:nth-child(2){
  margin: 0 50px;
}
.img img:hover{
    transform: scale(1.2);
}
input{
    border: 1px solid var(--tech-dark);
    border-radius: 10px;
    font-size: 30px;
    width: 200px;
}
.submit{
  border: 1px solid var( --tech-primary);
  background-color: var(--tech-dark);
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 20px;
  color: var(--tech-white);
  font-size: 20px;
    cursor: pointer;

}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
        .rating-box {
            margin: 30px auto;
            text-align: center;
        }
        .stars i {
            font-size: 30px;
            color: #ccc;
            cursor: pointer;
            transition: 0.2s;
        }
        .stars i.active {
            color: gold;
        }
        .rating-box h2{
                color: var(--tech-dark);
                 padding: 0;
                 margin: 40px 0;
        }
        .review-box {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            width: 90%;
            margin: 20px auto;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }
        .review-box h3 {
            margin-bottom: 10px;
        }
        .review {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
@media (max-width: 900px){
    .continer,
    .continer .img{
        align-items: center;
        justify-content: center;
        flex-direction: column;
          margin: 0;
    }

    .continer .text{
    width: 100%;
    font-size: 23px;
    padding: 0 10px;
}
.img img{
    width: 80%;
    margin: 100px 0;
}
.img img:nth-child(2){
  margin: 50px 0px;
  display: none;
}
}